
  @keyframes cycle{
    0%{left: 0}
    15.5%{left:-450px; opacity: 0;}/*330*/
    16%{left:2250px; opacity: 0;}/*1650*/
    16.5%{left:2250px; opacity: 1;}/*1650*/
    33%{left:1800px; opacity:1}/*1320*/
    49.5%{left:1350px; opacity:1}
    66%{left:900px;opacity:1}
    82.5%{left:450px;opacity: 1;}
    100%{left:0;opacity: 1;}
   
    }
    @keyframes cycletwo{
      0%{left: 0}
      16.5%{left:-450px; opacity: 1;}
      32.5%{left:-900px; opacity: 0;}
      33%{left:1800px; opacity: 0;}
      49.5%{left:1350px; opacity:1}
      66%{left:900px;opacity:1}
      82.5%{left:450px;opacity: 1;}
      100%{left:0;opacity: 1;}
      
      }
      @keyframes cyclethree{
        0%{left: 0}
        16.5%{left:-450px; opacity: 1;}
        33%{left:-900px; opacity: 1;}
        49%{left:-1350px; opacity: 0;}
        49.5%{left:1350px; opacity:0}
        66%{left:900px;opacity:1}
        82.5%{left:450px;opacity: 1;}
        100%{left:0;opacity: 1;}
       
        }
        @keyframes cyclefour{
          0%{left: 0}
          16.5%{left:-450px; opacity: 1;}
          33%{left:-900px; opacity: 1;}
          49.5%{left:-1350px; opacity:1}
          65.5%{left:-1800px; opacity: 0;}
          65.6%{left:900px;opacity:0}
          66%{left:900px;opacity:1}
          82.5%{left:450px;opacity: 1;}
          100%{left:0;opacity: 1;}
          
          }
          @keyframes cyclefive{
            0%{left: 0}
            16.5%{left:-450px; opacity: 1;}
            33%{left:-900px; opacity: 1;}
            49.5%{left:-1350px; opacity:1}
            66%{left:-1800px;opacity:1}
            82%{left:-2250px; opacity: 0;}
            82.1%{left:450px;opacity: 0;}
            82.5%{left:450px;opacity: 1;}
            100%{left:0;opacity: 1;}
            
            }
            @keyframes cyclesix{
              0%{left: 0}
              16.5%{left:-450px; opacity: 1;}
              33%{left:-900px; opacity: 1;}
              49.5%{left:-1350px; opacity:1}
              66%{left:-1800px;opacity:1}
              82.5%{left:-2250;opacity: 1;}
              98.5%{left:-2700px; opacity: 0;}
              98.8%{left:0; opacity: 0;}
              99%{left:0;opacity: 1;}
              100%{left:0;opacity: 1;}
              
              }
              @media screen and (min-width:1024px) and (max-width:1535px){
                
  @keyframes cycle{
    0%{left: 0}
    15.5%{left:-350px; opacity: 0;}/*450-350*/
    16%{left:1750px; opacity: 0;}/*900-700*/
    16.5%{left:1750px; opacity: 1;}/*1350-1050*/
    33%{left:1400px; opacity:1}/*1800-1400*/
    49.5%{left:1050px; opacity:1}/*2250-1750*/
    66%{left:700px;opacity:1}/*2700-2100*/
    82.5%{left:350px;opacity: 1;}
    100%{left:0;opacity: 1;}
   
    }
    @keyframes cycletwo{
      0%{left: 0}
      16.5%{left:-350px; opacity: 1;}
      32.5%{left:-700px; opacity: 0;}
      33%{left:1400px; opacity: 0;}
      49.5%{left:1050px; opacity:1}
      66%{left:700px;opacity:1}
      82.5%{left:350px;opacity: 1;}
      100%{left:0;opacity: 1;}
      
      }
      @keyframes cyclethree{
        0%{left: 0}
        16.5%{left:-350px; opacity: 1;}
        33%{left:-700px; opacity: 1;}
        49%{left:-1050px; opacity: 0;}
        49.5%{left:1050px; opacity:0}
        66%{left:700px;opacity:1}
        82.5%{left:350px;opacity: 1;}
        100%{left:0;opacity: 1;}
       
        }
        @keyframes cyclefour{
          0%{left: 0}
          16.5%{left:-350px; opacity: 1;}
          33%{left:-700px; opacity: 1;}
          49.5%{left:-1050px; opacity:1}
          65.5%{left:-1400px; opacity: 0;}
          65.6%{left:700px;opacity:0}
          66%{left:700px;opacity:1}
          82.5%{left:350px;opacity: 1;}
          100%{left:0;opacity: 1;}
          
          }
          @keyframes cyclefive{
            0%{left: 0}
            16.5%{left:-350px; opacity: 1;}
            33%{left:-700px; opacity: 1;}
            49.5%{left:-1050px; opacity:1}
            66%{left:-1400px;opacity:1}
            82%{left:-1750px; opacity: 0;}
            82.1%{left:350px;opacity: 0;}
            82.5%{left:350px;opacity: 1;}
            100%{left:0;opacity: 1;}
            
            }
            @keyframes cyclesix{
              0%{left: 0}
              16.5%{left:-350px; opacity: 1;}
              33%{left:-700px; opacity: 1;}
              49.5%{left:-1050px; opacity:1}
              66%{left:-1400px;opacity:1}
              82.5%{left:-1750;opacity: 1;}
              98.5%{left:-2100px; opacity: 0;}
              98.8%{left:0; opacity: 0;}
              99%{left:0;opacity: 1;}
              100%{left:0;opacity: 1;}
              
              }
              }

                 @media screen and (min-width:375px) and (max-width:1919px){
  
                  @keyframes cycle{
                    0%{left: 0}
                    15.5%{left:-350px; opacity: 0;}/*450-350*/
                    16%{left:1750px; opacity: 0;}/*900-700*/
                    16.5%{left:1750px; opacity: 1;}/*1350-1050*/
                    33%{left:1400px; opacity:1}/*1800-1400*/
                    49.5%{left:1050px; opacity:1}/*2250-1750*/
                    66%{left:700px;opacity:1}/*2700-2100*/
                    82.5%{left:350px;opacity: 1;}
                    100%{left:0;opacity: 1;}
                   
                    }
                    @keyframes cycletwo{
                      0%{left: 0}
                      16.5%{left:-350px; opacity: 1;}
                      32.5%{left:-700px; opacity: 0;}
                      33%{left:1400px; opacity: 0;}
                      49.5%{left:1050px; opacity:1}
                      66%{left:700px;opacity:1}
                      82.5%{left:350px;opacity: 1;}
                      100%{left:0;opacity: 1;}
                      
                      }
                      @keyframes cyclethree{
                        0%{left: 0}
                        16.5%{left:-350px; opacity: 1;}
                        33%{left:-700px; opacity: 1;}
                        49%{left:-1050px; opacity: 0;}
                        49.5%{left:1050px; opacity:0}
                        66%{left:700px;opacity:1}
                        82.5%{left:350px;opacity: 1;}
                        100%{left:0;opacity: 1;}
                       
                        }
                        @keyframes cyclefour{
                          0%{left: 0}
                          16.5%{left:-350px; opacity: 1;}
                          33%{left:-700px; opacity: 1;}
                          49.5%{left:-1050px; opacity:1}
                          65.5%{left:-1400px; opacity: 0;}
                          65.6%{left:700px;opacity:0}
                          66%{left:700px;opacity:1}
                          82.5%{left:350px;opacity: 1;}
                          100%{left:0;opacity: 1;}
                          
                          }
                          @keyframes cyclefive{
                            0%{left: 0}
                            16.5%{left:-350px; opacity: 1;}
                            33%{left:-700px; opacity: 1;}
                            49.5%{left:-1050px; opacity:1}
                            66%{left:-1400px;opacity:1}
                            82%{left:-1750px; opacity: 0;}
                            82.1%{left:350px;opacity: 0;}
                            82.5%{left:350px;opacity: 1;}
                            100%{left:0;opacity: 1;}
                            
                            }
                            @keyframes cyclesix{
                              0%{left: 0}
                              16.5%{left:-350px; opacity: 1;}
                              33%{left:-700px; opacity: 1;}
                              49.5%{left:-1050px; opacity:1}
                              66%{left:-1400px;opacity:1}
                              82.5%{left:-1750;opacity: 1;}
                              98.5%{left:-2100px; opacity: 0;}
                              98.8%{left:0; opacity: 0;}
                              99%{left:0;opacity: 1;}
                              100%{left:0;opacity: 1;}
                              
                              }
                   }
